<div class="bot">
  <div class="bot-header">
    <div class="bot-logo"><img src="/assets/images/logo-dark.png" alt="Logo" /></div>
    <div class="bot-header-actions">
      <div class="action-item" (click)="openSetting()">Bot 设置</div>
      <div class="action-item">Logout</div>
    </div>
  </div>
  <div class="bot-body">
    <div class="bot-sider">
      <div class="bot-avatar"><img src="/assets/images/robot.png" alt="Robot avatar" /></div>
      <div class="bot-name">{{botInfo?.displayName}}</div>
      <div></div>
    </div>
    <div class="bot-content">
      <div class="bot-message" #msgListEle>
        <div class="message-item" *ngFor="let msg of messages">
          <ng-container *ngIf="msg.isRobot">
            <div class="message-avatar"><img src="/assets/images/robot.png" alt="Robot avatar" /></div>
            <div class="message-body">
              <div class="message-user">{{botInfo?.displayName}}</div>
              <div class="message-content">
                <div class="message-text" [class.loading]="msg.loading" [innerHTML]="msg.content | safeHtml"></div>
                <div class="message-actions" *ngIf="!msg.voted">
                  <div class="action-item">
                    <div class="action-like" (click)="voteMessage(msg, true)"></div>
                  </div>
                  <div class="action-item">
                    <div class="action-dislike" (click)="voteMessage(msg, false)"></div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!msg.isRobot">
            <div class="message-avatar"><img [src]="userAvatar" alt="avatar" /></div>
            <div class="message-body">
              <div class="message-user">{{user.email}}</div>
              <div class="message-content">
                <div class="message-text">
                  <div><span>{{msg.content}}</span></div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="bot-input">
        <div class="prompt-input">
          <input #promptInput class="input"
                 [(ngModel)]="prompt" (keydown)="onKeyDown($event)"
                 placeholder="Type something" />
          <div class="send-icon"
               [class.active]="!!prompt.trim()"
               (click)="sendStreamMessage()"></div>
        </div>
        <div class="user-avatar"><img [src]="userAvatar" alt="avatar" /></div>
      </div>
    </div>
  </div>
</div>
<app-setting-modal
  *ngIf="settingVisible"
  [(visible)]="settingVisible"
  (visibleChange)="changeSettingVisible($event)"
  [botId]="botId || ''"></app-setting-modal>
