<div class="step-desc">
  <div class="step-title">Create Account</div>
  <div class="step-desc-text">Create an account to save your progress and get access to conversations on other devices</div>
</div>
<div class="user-form">
  <div class="form-item"><input class="input" placeholder="Email" /></div>
  <div class="form-item"><input class="input" placeholder="Password" /></div>
  <div class="form-item"><input class="input" placeholder="Repeat Password" /></div>
</div>
<div class="actions">
  <div class="action-item">
    <a class="button button-bg" (click)="register()">Create Account</a>
  </div>
</div>
